@page
@model MathDrawing.Pages.Games.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>AVAILABLE GAMES</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].Level)
            </th>
            <th>
                @Html.DisplayNameFor(model=> model.Game[0].Creator)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Game) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Creator.Email)
            </td>
            <td>
                <a asp-page="./RTGame" asp-route-roomId="@item.GameID">Play</a> |
                <a asp-page="./ScoreTable" asp-route-roomId="@item.GameID">Score's Table</a> |
                <a asp-page="./Delete" asp-route-id="@item.GameID">Delete</a>


            </td>
        </tr>
}
    </tbody>
</table>
